body {
  background-color: #f1f1f1;
}

form {
  margin-bottom: -90px;
}

a {
  position: relative;
  top: -74px;
  right: -90px;
  font-size: 16px;
  color: #30475e;
  text-decoration: none;
}

.search-city {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  padding: 10px;
  width: 800px;
}

.btn-search {
  background-color: #1b6ca8;
  border: 2px #1b6ca8;
  border-radius: 5px;
  color: white;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  padding: 12px;
  position: relative;
  right: -355px;
  top: -108px;
  width: 90px;
  transition: 200ms ease-in-out;
}

.btn-search:hover {
  background-color: #30475e;
  color: white;
}

.card-one {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  min-width: 800px;
  padding: 10px;
}

.card-two {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  min-width: 800px;
  padding: 10px;
}

.card {
  display: block;
  margin: 0 auto;
  margin-bottom: -30px;
  min-width: 800px;
  padding: 10px;
}

.city {
  font-size: 48px;
  font-weight: 700;
  padding-top: 40px;
  padding-left: 20px;
}

.dateTime {
  font-size: 18px;
  font-weight: 400;
  padding-left: 20px;
}

.temp {
  font-size: 48px;
  font-weight: 700;
  padding-left: 20px;
}

.sky {
  font-size: 24px;
  font-weight: 500;
  padding-left: 20px;
}

.chance-rain {
  color: #a6a9b6;
  padding-left: 20px;
}

.fa-cloud-sky {
  font-size: 48px;
  position: relative;
  right: -240px;
  top: 100px;
}

.temp-min-max {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  right: -240px;
  top: 100px;
}

.hourly-forecast {
  padding-top: 40px;
  padding-left: 20px;
}

.hourly {
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
}

.hourly-8 {
  color: #686d76;
  font-size: 16px;
  margin-top: 20px;
  position: relative;
  top: 25px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.forecast {
  position: 30px;
  top: 80px;
  padding-left: 20px;
}

.weather-forecast {
  font-size: 16px;
  margin-top: 20px;
  position: relative;
  top: 25px;
  padding-bottom: 40px;
  padding-left: 20px;
}
